.h-1 {
  font-family: PT Sans Narrow;
  text-align: center;
  font-size:35px;
}

.h-2 {
  font-family: PT Sans Narrow;
  font-size: 100%;
  text-decoration: underline;
  text-align:center;
  padding-top:30px;
}

#banner {
	width: 100%;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
}

.column-1 {
	padding-left: 100px;
	padding-right: 50px;

}

.column-2 {
	padding-right: 100px;
	padding-left: 50px;
}

.lang-img {
	height: 150px;
	width: 150px;
}