<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded">
                    <p>I'm a web developer with a background in the performing arts. I love being creative and fostering creativity in others.</p>
                    <p> I am currently working as a Jr. Web Developer at <a href="http://www.publictheater.org/">The Public Theater </a></p>
                    <p>I really enjoy working in Rails, JavaScript(JQuery & Ajax), HTML, and CSS.</p>
                    <p>I am currently learning React.js (React Native is next on the list!).</p>
                    <p>I'm also a <a href="http://www.christynbudzyna.com" id="mt-link">musical theatre lyricist.</a></p>
                    <p>I'm knitting and sewing myself a handmade wardrobe.</p>
                    <p>I'm passionate about bringing more women into the tech sphere and teaching them how to code. </p>
                </p>
            </div>
        </div>
    </div>
</section>
