<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.localeyestrips.com" class="portfolio-box">
                    <img src="img/portfolio/travel.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Localeyes
                            </div>
                            <div class="project-details">
                                A web app that connects tourists to day trips curated by locals. This was a group project built with John Collela, Hanna Taylor, and Elan Kvitko. We built Localeyes in Ruby on Rails, using the Materialize CSS framework, the Google Maps and Google Places APIs.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/piano.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                 Another Openin'
                            </div>
                            <div class="project-details">
                                A web app for theatre companies searching for their next musical. This is my ongoing passion project. I built the back end in Rails and the front end in React. I used Bootstrap as a CSS framework, and the Spotify API for sound clips. I am currently building a custom API of musicals that can be licensed for performance.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/world.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                COMING SOON - Temperature Visualization
                            </div>
                            <div class="project-details">
                                A visualization of the earth's temperature over time using Javascript and JQuery
                            </div>
                        </div>
                    </div>
                </a>
            </div>
</section>
